@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --main-color: #bda23e;
        --bg-color: #4A4A4A;
    }
}

@layer components {
    .container {
        @apply px-4 md:px-10 flex items-center justify-between max-w-[1250px] mx-auto;
    }

    .button {
        @apply uppercase tracking-wider leading-5 text-[10px] md:text-xs rounded-md transition-colors duration-300 disabled:pointer-events-none disabled:opacity-50 text-white px-2 py-1 md:px-4 md:py-2 bg-black hover:bg-zinc-800;
    }

    .primary-button {
        @apply bg-main-color hover:bg-[#C7AE4C];
    }

    .big-button {
        @apply text-lg px-12 py-3;
    }

    .link {
        @apply text-main-color
    }

}

body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-family: 'Cormorant Unicase', serif;
    line-height: 1.2;
}

.dark-bg {
    background-image: url("./images/bg-03.jpg");
}

.icon-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon-list li {
    list-style-type: none;
    background-image: url('./images/galka.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 0 center;
    line-height: 1.5;
    padding: 5px 0 5px 45px;
}

.doted-list li {
    list-style-type: disc;
}

.doted-list li::marker {
    color: var(--main-color);
}

